@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center
}

p {
    margin: 0,
}

.Item {
  &_container {
    @include flex-center();
    &--title {
      margin: 10px;
    }
  }
  &_addButton {
    margin: 5px;
    align-self: flex-start;
  }
  &_box {
    @include flex-center();
    flex-direction: column;
    height: 50px;
    width: 200px;
    background-color: lightblue;
    margin: 10px;
  }
  &_info {
    @include flex-center();
    flex-direction: column;
    height: 50px;
    width: 200px;
    background-color: lightpink;
    margin: 10px;
  }
}